$mobile-width: 768.5px;
$tablet-width: 992px;
$header-height: 60px;
// $header-height: 92px;
$header-height-mobile: 60px;
$color-main: #fff;
$secondary-color: #bdc5cb;
$background-color: #131a20;
$light_black_1: #bdc5cb;
$main: #0e7ee4;
$main_padding: 40px;
$main_padding_mb: 20px;

$web-3: 0.15vw;
$web-4: 0.2vw;
$web-5: 0.26vw;
$web-8: 0.4vw;
$web-12: 0.625vw;
$web-14: 0.73vw;
$web-16: 0.83vw;
$web-19: 0.99vw;
$web-20: 1vw;
$web-22: 1.14vw;
$web-24: 1.25vw;
$web-28: 1.4vw;
$web-32: 1.67vw;
$web-36: 1.875vw;
$web-40: 2.08vw;
$web-40: 2.08vw;
$web-50: 2.6vw;
$web-52: 2.7vw;
$web-56: 2.9vw;
$web-62: 3.2vw;
$web-64: 3.33vw;
$web-72: 3.75vw;
$web-80: 4.16vw;
$web-92: 4.8vw;
$web-100: 5.2vw;
$web-240: 12.5vw;
$web-245: 12.76vw;
$web-229: 11.92vw;
$web-289: 15vw;
$web-343: 17.86vw;
$web-360: 18.75vw;
$web-396: 20.625vw;
$web-489: 25.468vw;
$web-560: 29.16vw;

$mbw-3: 0.8vw;
$mbw-4: 1vw;
$mbw-5: 1.33vw;
$mbw-8: 2vw;
$mbw-12: 3.2vw;
$mbw-14: 3.73vw;
$mbw-16: 4.26vw;
$mbw-18: 4.8vw;
$mbw-20: 5.3vw;
$mbw-22: 5.8vw;
$mbw-24: 6.4vw;
$mbw-28: 7.46vw;
$mbw-32: 8.53vw;
$mbw-44: 11.73vw;
$mbw-52: 13.86vw;
$mbw-56: 14.93vw;
$mbw-60: 16vw;
$mbw-68: 18vw;
$mbw-62: 16.53vw;
$mbw-88: 23.46vw;
$mbw-106: 28.26vw;
$mbw-240: 64vw;
$mbw-261: 69.6vw;
